/* GLOBAL STYLES */
* {
    margin: 0px;
    padding: 0px;
    font-family: "Segoe UI", "Tahoma", "Helvetica Neue", sans-serif;
    font-weight: lighter;
    color: #d5d3d3;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#001859, #030D94, #4900E8);
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-height: 100vh;
}