/* TITLE */
.main-title {
    width: 100%;
    max-width: 1350px;
    margin-bottom: 10px;
    cursor: default;
}

.main-title h1 {
    text-align: left;
    font-size: 50px;
}

/*CARD IMAGES*/

.image-item {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
}

.image-item:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    filter: brightness(1.1);
}

/*NAV BUTTON*/

.nav-buttons {
    position: fixed;
    bottom: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    z-index: 1000;
}

.nav-buttons button {
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #0056b3;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/*RESPONSIVE*/

@media (max-width: 1024px) {
    .main-title h1 { font-size: 22px; text-align: center; }
    .nav-buttons { bottom: 10px; }
    .nav-buttons button { padding: 6px 15px; font-size: 13px; }
}