/* CARROUSEL STRUCTURE*/
.slide-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.slide-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: fit-content;
    height: 100%;
    position: relative;
    left: 0;
    transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform;
}

.slide {
    width: 50vw;
    flex-shrink: 0;
    margin: 0 5vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    transition: all 0.6s ease;
    opacity: 0.6;
    filter: blur(4px);
    transform: scale(0.8);
}

.slide.active {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
}

/*GRID CARDS*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 170px);
    gap: 5px;
    row-gap: 10px;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
    .slide {
        width: 90vw;
        margin: 0 5vw;
        transform: scale(1) !important;
        opacity: 1 !important;
        filter: blur(0) !important;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 100px);
        gap: 8px;
    }
}