*{
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(#6a8aff, #b2fbff);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title{
    width:95%;
    max-width: 1200px;
    margin-bottom: 5px;
    cursor:default;
}

.grid-container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    gap:5px;
    row-gap:5px;

    width:95%;
    max-width: 1200px;
    margin:0 auto;
    padding-bottom:50px;
}

.image-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.image-item img{
    width:100%;
    height:100%;
    object-fit: contain;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}

.image-item:hover{
    transform: scale(1.03);
    box-shadow:0 10px 20px rgba(0, 0, 0, 0.2);
    filter: brightness(1.1);
}